.themed-grid-col {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: rgba(112.520718, 44.062154, 249.437846, .15);
  border: 1px solid rgba(112.520718, 44.062154, 249.437846, .3);
}

.themed-container {
  padding: .75rem;
  margin-bottom: 1.5rem;
  background-color: rgba(112.520718, 44.062154, 249.437846, .15);
  border: 1px solid rgba(112.520718, 44.062154, 249.437846, .3);
}


.inputContainer {
  display: flex;
  text-align: center;
  margin-top: 50px;
  justify-content: center;
}

.inputContainer > div {
  margin-right: 50px; /* Adjust the spacing between elements */
}

.inputContainer > div:last-child {
  margin-right: 0; /* Remove margin from the last element */
}

#updateBudgetBtn:hover {
  color: #ffc107 !important;
}

#total{
  display: flex;
  text-align: center;
  margin-top: 50px;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
}

#updateBudgetBtn {
  background-color: #343a40;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.buttonDiv{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  padding-bottom: 20px;
  text-align: center;
}

.dropdown-container {
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
}

.dropdown {
  text-align: center; /* Center the button text */
}

.dropbtn {
  background-color: #343a40;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  margin-bottom: 10px;
}

#dropdownBtn:hover {
  color: #ffc107 !important;
}

#preset2{
  margin-left: 20px;
}

#preset3{
 margin-left: 20px;
}