.themed-grid-col {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: rgba(112.520718, 44.062154, 249.437846, .15);
  border: 1px solid rgba(112.520718, 44.062154, 249.437846, .3);
}

.themed-container {
  padding: .75rem;
  margin-bottom: 1.5rem;
  background-color: rgba(112.520718, 44.062154, 249.437846, .15);
  border: 1px solid rgba(112.520718, 44.062154, 249.437846, .3);
}


.container {
  display: flex;
  text-align: center;
  margin-top: 50px;
  justify-content: center;
}

.container > div {
  margin-right: 50px; /* Adjust the spacing between elements */
}

.container > div:last-child {
  margin-right: 0; /* Remove margin from the last element */
}

